:root {
    font-size: 16px;
}

.isTableMode {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-right-width: 1px;
    border-color: #D1D5DB;
}

.notTableMode {
    height: 5rem;
}

.labelClass {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.hoverInfo {
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    border-width: 1px;
    border-color: #000000;
    cursor: pointer;
    margin-left: 2px;
}

.mainDiv {
    position: relative;
    background-color: #F3F4F6;
    width: 100%;
}

.inputClass {
    display: block;
    position: relative;
    background-color: #F9FAFB;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid gainsboro;
    outline: none;
    border-width: 1px;
    appearance: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-indent: 10px;
    color: #111827;
    color: #6B7280;
    color: 15px;
}

.tableMargin {
    margin-top: 8px;
}

.disabledInput {
    background-color: #D1D5DB;
}

.error {
    border-width: 1px;
    border-color: #EF4444;
}

.mainOptionDiv {
    overflow: scroll;
    position: absolute;
    z-index: 10;
    background-color: #F9FAFB;
    width: 100%;
    max-height: 18rem;
    border-radius: 0.125rem;
    border-width: 1px;
    border-color: #D1D5DB;
}

.fromTopError {
    top: 3.5rem;
}

.fromTop {
    top: 2.5rem;
}

.buttonClass {
    /* background-color: none; */
    text-align: start;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
}

.buttonClass:hover {
    background-color: #ffffff;
}

.noOption {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    flex-direction: column;
    width: 100%;
}

.noOption:hover {
    background-color: #ffffff;
}

.linkClass {
    text-align: start;
    padding-left: 0;
    padding-right: 0;
}