:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.isTableMode {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-right-width: 1px;
    border-color: #d1d5db;
}

.notTableMode {
    height: 5rem;
}

.labelClass {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    margin-inline: 2px;
    color: rgb(93, 93, 93);
}

.hoverInfo {
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    border-width: 1px;
    border-color: #000000;
    cursor: pointer;
    margin-left: 2px;
}

.mainDiv {
    position: relative;
    background-color: #f3f4f6;
    width: 100%;
}

.inputClass {
    margin-top: 10px;
    display: block;
    position: relative;
    background-color: #f9fafb;
    width: 100%;
    border-radius: 0.1rem;
    border: 1px solid gainsboro;
    outline: none;
    border-width: 1px;
    appearance: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-indent: 10px;
    color: #111827;
    color: #6b7280;
    color: 15px;
}

.tableMargin {
    margin-top: 8px;
}

.disabledInput {
    background-color: #d1d5db;
}

.error {
    border-width: 1px;
    border-color: #ef4444;
}

.mainOptionDiv {
    margin-top: 2px;
    background-color: white;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
    /* background-color: red; */
    width: 100%;
    max-height: 18rem;
    border-radius: 2px;
    border-width: 1px;
    /* border-color: #d1d5db; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fromTopError {
    top: 3.5rem;
}

.fromTop {
    top: 2.5rem;
}

.buttonClass {
    background-color: inherit;
    text-align: start;
    border: none;
    padding-block: 0.6rem;
    padding-inline: 0.75rem;
    cursor: pointer;
    font-size: 0.875rem;
    /* line-height: 1.25rem; */
    width: 100%;
    /* margin-block: 5px; */
}

.buttonClass:hover {
    background-color: #f3f2f2;
}

.noOption:hover {
    background-color: #ffffff;
}

.linkClass {
    text-align: start;
    padding-left: 0;
    padding-right: 0;
}

.loading-div {
    padding: 10px;
}

[data-titleinfo] {
    position: relative;
    z-index: 9999 !important;
}

[data-titleinfo]:after {
    content: attr(data-titleinfo);
    position: absolute;
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 8px;
    left: 50%;
    border-radius: 4px;
    /* bottom: 100%; */
    /* put it on the top */
    /* background-color: black; */
    width: max-content;
    display: none;
    -webkit-transition: opacity 0.1s ease-in-out;
    /* 👈 Change the time to meet your requirements. */
}

[data-titleinfo]:hover:after {
    display: block;
}